body{
    margin: 0;
    padding: 0;
}
.inbanner {
    width: 100%;
    height: 100px;
}

.inbanner img {
    padding-left: 48%;
}

.menu ul li {
    list-style: none;
    display: inline;
    padding: 20px;
    line-height: 35px;

}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu ul li:hover a {
    color: red;
}

.xemoi{
    padding: 0;
    background-color: rgb(220, 218, 218);
    height: 100px;
}
.xemoi h2{
    padding: 15px 0 0 30px;
    color: rgb(95, 95, 95);
}

.carnew{
    padding: 35px 7.14286% 40px;
}
.new1{
width: 100%;
display: flex;
flex-wrap: wrap;
padding: 20px 0 30px;
border-bottom: 1px solid #ccc
}
.new1 .left{
    width: 25.5%;
}
.new1 .right{
    padding-left:80px;
}
.text h2:hover{
    color: rgb(191, 43, 43);
}
table {
    border-collapse: collapse;
    
}
table td {
    width: 200px;
    height: 40px;
    text-align: center;
}

table td {
    width: 400px;
}


.footer{
    padding-top:100px;
}
.footer h2{
    padding:0 0 0 50px;
}
.footer h3{
    padding-left: 50px;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.footer .lh{
  display: flex;
  justify-content: none;
  flex-wrap: wrap;
  padding: 0px 0px 50px 100px; 
  background-color: gray;
}
.lh .lh1{
    margin: 10px;
    width: 25%;
    height: 250px;
    padding-top:20px
}
.lh .lh1 h3{
    text-align: left;
    font-weight: bolder;
    color: black;
}
.lh .lh1 p{
    text-align: left;
    color: white;
    padding-left: 40px;
}
.lh .lh1 p:hover{
    color: red;
}
.lh .lh1 h5{
    text-align: left;
    color: white;
    padding-left: 40px;
}
.lh .lh2 h3 {
    color: black;
}
.lh .lh2 iframe{
    width: 300%;
    height: 400px;
}
.lh .lh1 h5:hover{
    color: red;
}
.linkfb{
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 100px;
}
.linkfb .nhung h3{
    padding-top: 10px;
    color:rgb(0, 0, 0);
    padding-left: 30px;
}

.duoi a img {
    width: 30px;
    height: 30px;
    display: inline;
    list-style: none;
    padding-left:  40px;
}
.abcd iframe{
    padding-top: 50px;
}




